<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lbbw.AggiesLand.aggiesland.appfinal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.lbbw.AggiesLand.aggiesland.appfinal.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.lbbw.AggiesLand.aggiesland.appfinal.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.LoginActivity"
            android:label="AggiesLand"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. -->
                <category android:name="com.lbbw.AggiesLand.aggiesland.appfinal" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.ClubActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.ClubSingleItemView"
            android:label="@string/title_clubs_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.NewsActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.NewsSingleItemView"
            android:label="@string/title_news_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.CampusEventsMenu"
            android:label="@string/title_news_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.AthleteListView"
            android:label="Athletics"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.BusRoutes"
            android:label=""
            android:screenOrientation="portrait">
        </activity>


        <!-- Login/Signup Activity Implementation -->

        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.TabBarActivity"
            android:label=""
            android:logo="@drawable/logo_large"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.SignUpActivity"
            android:label="Register"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.ForgetPassword"
            android:label="Forget Password"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.CampusEventActivity"
            android:label="@string/title_activity_campus_events"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.TwitterFeedActvity"
            android:label="#NCAT Feed"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.NCATRegisterActivity"
            android:label="The A&amp;T Register"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.EmailSender"
            android:label="Event Post Request"
            android:screenOrientation="portrait">
        </activity>

        <activity
        android:name="com.lbbw.AggiesLand.aggiesland.appfinal.CampusEventsSingleItemView"
        android:label="Campus Events Details"
        android:screenOrientation="portrait">
    </activity>

        <activity
            android:name="com.lbbw.AggiesLand.aggiesland.appfinal.BusinessActivity"
            android:label="AggiesLand Vendors"
            android:screenOrientation="portrait">
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="8e03bf8519f7903a4e20ae17146a26bdb3d4774a"/>

    </application>

</manifest>
